.date {
  color: #9a9a9a;
}

.contentContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  position: absolute;
  display: flex;
  height: 80%;
  width: 95%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  flex:0.5;
}

.description {
  position: relative;
  /* flex: 1; */
  margin-right: 10px;
  overflow:scroll;           
  text-overflow: ellipsis;
}

.checkout {
  position: absolute;
  margin-top: 15px;
}

.inputContainer {
  position: relative;
  flex: 1;
  resize: none;
  height: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  background-color: #f8f8f8;
}

.inputField {
  position: absolute;
  flex: 1;
  width: 100%;
  height: 80%;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  resize: none;
  padding: 10px;
  background-color: #f8f8f8;
}

.selectContainer {
  resize: none;
  padding: 10px;
  width: 50%;
  border: none;
}
