version: "3"

services:
  users-db:
    image: mysql:latest
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_PASSWORD: null
      MYSQL_TCP_PORT: 3306
    ports:
      - 3306:3306
    expose:
      - 3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 3s
      retries: 10

  user-service:
    build:
      context: backend/user-service
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    depends_on:
      users-db:
        condition: service_healthy
    command: >
      bash -c "npx sequelize-cli db:create && npm start"

  questions-db:
    image: mongo
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      timeout: 3s
      retries: 10

  question-service:
    build:
      context: backend/question-service
      dockerfile: Dockerfile
    environment:
      - MONGODB_URI=mongodb://questions-db:27017
    ports:
      - 3001:3001
    depends_on:
      questions-db:
        condition: service_healthy
    command: >
      bash -c "npm run seed && npm start"

  matching-service:
    build:
      context: backend/matching-service
      dockerfile: Dockerfile
    environment:
      - QUESTION_SERVICE_URI=http://question-service:3001
      - FRONTEND_URI=http://localhost:3000
    ports:
      - 3002:3002
    depends_on:
      - question-service

  collab-service:
    build:
      context: backend/collaboration-service
      dockerfile: Dockerfile
    environment:
      - FRONTEND_URI=http://localhost:3000
    ports:
      - 5173:5173

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      - QUESTION_SERVICE_URI=http://question-service:3001
    depends_on:
      - user-service
      - question-service
