.form_container {
  width: 60%;
  margin: 0 auto;
}

.criteria {
  padding-top: 10px;
  padding-bottom: 20px;
}

.option_container {
  margin-left: -80px;
}

.option {
  margin-left: 80px;
}

@media only screen and (max-width: 468px) {
  .form_container {
    width: 95%;
  }
}