.App {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.users{
    gap: 20px;
}

.user {
    flex:1;
    display: flex;
    gap: 10px;
    align-items: center;
}

.deleteButton {
    border: 0.5px solid;
    padding: 3px 6px;
    background-color: pink;
    cursor: pointer;
}

.updateButton {
    border: 0.5px solid;
    padding: 3px 6px;
    background-color: beige;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 250px;
    padding: 10px;
    border: 1px solid;
}

.formButton {
    padding: 10px;
    background-color: lightblue;
    color: white;
}