.container_header {
  margin-top: 3em;
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_title {
  font-size: 1.3rem;
  color: #2d6cdf;
  font-weight: 600;
}

.nav_links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.nav_link {
  display: block;
  text-decoration: none;
  color: #000;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.nav_link:hover,
.nav_link:focus {
  border-bottom: 2px solid #2d6cdf;
}


@media only screen and (max-width: 468px) {
  .nav_links {
    justify-content: space-around;
  }
}